body {
	background-color: #fff;
	font-family: Arial,"Microsoft JhengHei", sans-serif;
	color: #999;
	margin:0px;
}

a {
	text-decoration: none;
}

.wrapper {
	/*background-color: #fff;*/
	/*padding: 10px;*/
}

.container {
	/*max-width: 960px;*/
	margin:auto;
}

.logo-float{
	width: 80px;
	position: fixed;
	bottom: 100px;
	right: calc(50% - 460px);
	/*left: calc(50% + 480px - 80px - 20px);*/
	/*若將浮水印推回來的時候，還是超過原本設定的匡(960)，那浮水印還是會無法跟著螢幕亂跑，所以記得“-”的數字要讓浮水印在960裡，
	或者可以試著在網頁上，用滑鼠滾輪調整想要的位置，直接看是多少px*/
}

@media screen and (max-width: 960px) /*and (min-width: 768px)*/ {
	.logo-float{
		right: 20px;
		/*left: calc(50% + 480px - 80px - 20px);*/
		/*通常都寫在目標下方即可*/
		/*因為螢幕小於960了，所以浮水印就會消失，這時要針對浮水印在小於960的時候，會如何呈現，給予命令*/
	}
}

.logo {
	width: 40px;
	/*height: 30px;*/
	/*margin: 0 auto;*/
	padding: 5px 20px;
}

.nav{
	width: 100%;
	/*height: 50px;*/
	background-color: #323232;
	position: fixed;
	text-align: center;
	top: 0;
	right: 0;
	z-index: 10; /*當設定absolute和relative，通常一定會設定z-index（從5or10開始設定，5or10是最高層）*/
}

.item-list{
	/*height: 50px;*/
	/*width: 100%;*/
	margin: auto;
	max-width: 960px;
	display: flex;
	list-style: none;
}

.item-meau{
	width: 25%;
	padding: 10px;
	/*display: block;*/
	/*position: sticky;*/
}

.item-meau a {
	color: #fff;
	display: block; /*block是撐滿該區塊（變成區塊元素），讓人點擊的時候，不用需移動到文字才能點擊，而是移動到該文字附近的區域，
					 就可以點擊*/
	padding: 5px 0px; /*padding 效果同上，調整可點擊的區塊最重要的功臣，而不是用Margin*/
}

.header{	
	width: 100%;
	height: 450px;
	padding-top: 80px;
	/*background-image: url(../img/stevejobs.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;*/
	position: relative; /*讓物件置中的解法2*/
}

.article-header {
	font-size: 2em;
	font-weight: bold;
	width: 100%;
	padding: 60px;
	background-color: rgba(0,0,0,0.6); 
	color: #fff;
	box-sizing: border-box;
	/*margin-top: calc(140px - 100px);*/ /*通常使用calc，通常會一個用%，一個用px來計算*/
	overflow: hidden;

	position: absolute; /*讓物件置中的解法2*/
	top: 0;
	bottom: 0;
	margin: auto;
	height: 300px; /*重點不是多少px，重點是要設定高，才會幫我置中*/

}

h2 {
	margin: 0px;
}

.biography{
	max-width: 960px;
	margin: auto;
}


.font-title{
	text-align: center;
	font-size: 24px;
	margin: 40px;
}

.font-title-ch{
	font-size: 1.2em;
}


.pic-box {
	max-width: 960px;
	height: 200px;
	margin: auto;
}

.pic {
	width: 31.33%;
	 /*width: 200px;*/
	height: 200px;
	border: 2px solid #323232;
	display: inline-block;
	margin-right: 1%;
	 /*object-fit: contain;*/
}

section {
	margin-bottom: 40px;
	line-height: 26px;
	letter-spacing: 1px;
	vertical-align: top;
}

img {
	width: 100%;
	height: 100%;
	 /*width: 200px;*/
	 /*height: 200px;*/
	display: block;
	object-fit: contain;
}

.content-pic-right, .side-pic {
	width: 300px;
	float: right;
	margin-right: 20px;
	margin-bottom: 10px;
}

.content-pic-left {
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.reference {
	text-decoration: line-through;
	color: #0070c9;
}



