/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article {
  font-size: 1rem;
  color: #292929;
  line-height: 1.85rem;
  max-width: 960px;
  margin: auto;
}
article h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
}
article h2 {
  font-size: 1.75rem;
  font-weight: bold;
}
article h3 {
  font-weight: bold;
}
article img {
  width: 100%;
  display: block;
  margin: auto;
}
article .logo {
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
}

@media (max-width: 480px) {
  article {
    font-size: 0.8rem;
  }

  h1, h2 {
    color: cadetblue;
  }
}
.content .pic {
  overflow: hidden;
}
.content img {
  width: 100%;
  display: block;
  max-width: 60%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.content img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.content p::-moz-selection, .content span::-moz-selection {
  color: orange;
}
.content p::selection, .content span::selection {
  color: orange;
}
.content .pic-h img {
  height: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 480px) {
  .content .pic-h img {
    height: unset;
  }
}

.flo {
  float: left;
  width: 49%;
}

@media (max-width: 480px) {
  .flo {
    width: 100%;
  }

  .content img {
    max-width: none;
  }
}
.f-clear {
  clear: both;
}

section header {
  position: relative;
}
section header h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
section header::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #292929;
  opacity: 50%;
  width: 40%;
  top: 50%;
  right: 0;
}
section header::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #292929;
  opacity: 50%;
  width: 40%;
  top: 50%;
  left: 0;
}
@media (max-width: 480px) {
  section header::after, section header::before {
    width: 30%;
  }
}
section li {
  border: 2px solid #dfdfdf;
}
section li + li {
  border-top: none;
}
section li:hover {
  cursor: pointer;
}
section li:hover h4 {
  color: cadetblue;
  font-size: 1.75rem;
}
section li h4 {
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
section li h4::-moz-selection {
  color: orange;
}
section li h4::selection {
  color: orange;
}
section .content {
  width: 70%;
}
section .img {
  margin: auto;
}
section h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
section .flex p {
  color: #a5a5a5;
}
@media (max-width: 480px) {
  section .content {
    width: 60%;
  }
  section .pad-m {
    padding: 1rem;
  }
  section .img {
    width: 30%;
    margin: unset;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
  }
}
section .transY {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.flex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mar {
  margin: 2%;
}

.m-t-s {
  margin-top: 2%;
}

.m-b-s {
  margin-bottom: 2%;
}

.m-r-s {
  margin-right: 2%;
}

.m-l-s {
  margin-left: 2%;
}

.m-t-m {
  margin-top: 3%;
}

.m-b-m {
  margin-bottom: 3%;
}

.m-r-m {
  margin-right: 3%;
}

.m-l-m {
  margin-left: 3%;
}

.m-t-l {
  margin-top: 4%;
}

.m-b-l {
  margin-bottom: 4%;
}

.pad-s {
  padding: 2%;
}

.pad-m {
  padding: 3%;
}

.pad-l {
  padding: 4%;
}

@media (max-width: 480px) {
  .mar {
    margin: 4%;
  }

  .m-t-s {
    margin-top: 4%;
  }

  .m-b-s {
    margin-bottom: 4%;
  }

  .m-r-s {
    margin-right: 4%;
  }

  .m-l-s {
    margin-left: 4%;
  }

  .m-t-m {
    margin-top: 6%;
  }

  .m-b-m {
    margin-bottom: 6%;
  }

  .m-r-m {
    margin-right: 6%;
  }

  .m-l-m {
    margin-left: 6%;
  }

  .m-t-l {
    margin-top: 7.5%;
  }

  .m-b-l {
    margin-bottom: 7.5%;
  }

  .pad-s {
    padding: 4%;
  }

  .pad-m {
    padding: 5%;
  }

  .pad-l {
    padding: 6%;
  }
}