* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  border: 0;
}

section {
  display: block;
}

body {
  font-size: 18px;
  font-family: Helvetica, Arial, "LiHei Pro", "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

.build__wrap {
  display: flex;
}

/* ===== card_8a8s01-space setting start ===== */
.build__wrap .build__item {
  background-color: #fff;
  border: 1px solid #EDEDED;
  transition: transform 0.16s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
/* ===== card_8a8s01-space setting end ===== */
/* ===== card_8a8s01-space item *6 setting start ===== */

.build__wrap.item--8 .build__item {
  width: 24%;

}

.build__wrap .build__item,
.build__wrap .item__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.build__wrap .item__info {
  position: relative;
}

.build__wrap .item__name {
  height: 17px;
}

.build__wrap .item__push span {
  color: #cc1e05;
  font-weight: 400;
}

/* ===== card_8a8s01-space item *6 setting end ===== */
/* ===== item-push background-color setting start ===== */
.build__wrap .item__push.bg__blue {
  background: #3000b1;
  background: -webkit-linear-gradient(to right, #1a00ea, #3000b1, #1a00ea);
  background: linear-gradient(to right, #1a00ea, #3000b1, #1a00ea);
  border-radius: 20px;
  color: #fff;
  letter-spacing: 1.5px;
}

.build__wrap .item__push.bg__green {
  background: #3CA55C;
  background: -webkitlinear-gradient(to right, #7fc313, #3CA55C, #7fc313);
  background: linear-gradient(to right, #7fc313, #3CA55C, #7fc313);
  border-radius: 20px;
  color: #fff;
  letter-spacing: 1.5px;
}

.build__wrap .item__push.bg__red {
  background: #f01400;
  background: -webkit-linear-gradient(to right, #f07219, #f01400, #f07219);
  background: linear-gradient(to right, #f07219, #f01400, #f07219);
  border-radius: 20px;
  color: #fff;
  letter-spacing: 1.5px;
}

.build__wrap .item__push--outerFrame {
  width: 100%;
  height: 28px;
  text-align: center;
}

.build__wrap .item__push {
  position: relative;
  z-index: 1;
  line-height: 140%;
  height: auto;
}

.build__wrap .build__item.black__bg {
  background-color: #362e2b;
  border-radius: 10px;
}

.build__wrap .build__item.black__bg a,
.build__wrap .black__bg .item__push span {
  color: #ddd;
}

.build__wrap .build__item.black__bg .item__price span:last-child {
  background-color: rgba(#EDEDED, .5);
  color: #fff;
  font-weight: 700;
}

.build__item a {
  color: #5d5d5d;
}

.item__pic {
  position: relative;
  z-index: 0;
  padding-top: 100%;
  overflow: hidden;
}

.item__img {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.item__push {
  width: 100%;
  height: 28px;
  text-align: center;
}

.item__push span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  z-index: 0;
  color: #cc1e05;
  font-weight: bold;
  overflow: hidden;
}

.item__name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  height: 36px;
  line-height: 120%;
  font-size: 15px;
  overflow: hidden;
}

.item__price span:last-child {
  color: #cc1e05;
  font-size: 22px;
}
