* {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  border: 0;
}

article,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: PingFangTC-regular, "LiHei Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Source Han Sans TC", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.body-color {
  /* 外部背景底色 */
  background-color: #f1b310;
}

.sp--960 {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*-- note start --*/
.note {
  font-size: 15px;
  word-break: break-all;
  line-height: 150%;
}

.note article {
  padding: 1.5%;
  /* 內部背景底色 */
  background-color: #ffffff;
  border-radius: 5px;
}

.note article a {
  display: inline;
  color: #ce2212;
  text-decoration: underline;
  word-break: break-all;
}

.note article a:hover {
  text-decoration: none;
}

.note li {
  padding: 5px;
}

.note ol>li {
  margin-left: 30px;
}

.act_name {
  font-size: 32px;
  color: #fff;
  /* 主標底色 */
  background-color: #15151d;
  line-height: 32px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
}

.h2_style {
  font-size: 30px;
  /* 活動名稱顏色 */
  color: blue;
  line-height: 30px;
  margin-top: 15px;
}

@media (max-width: 700px) {
  .act_name {
    font-size: 24px;
    line-height: 24px;
  }

  .h2_style {
    font-size: 20px;
    line-height: 24px;
    color: red;
  }
}

.p-notice {
  font-size: 24px;
  color: #555555;
  line-height: 42px;
  font-weight: bold;
  margin-top: 15px;
}

@media (max-width: 700px) {
  .p-notice {
    font-size: 20px;
  }
}

.p-notice-words {
  color: #555555;
}

.note .decimal-type {
  /* 阿拉伯數字 */
  list-style-type: decimal;
}

.note .lower-alpha-type {
  /* 小寫英文字母 */
  list-style-type: lower-alpha;
}

.note .none-type {
  /* 不顯示符號 */
  list-style-type: none;
}

.note .disc-type {
  /* 實心圓形 */
  list-style-type: disc;
}

.btn_a1 {
  /* 按鈕底色 */
  background-color: #ce2212;
  padding: 5px 30px;
  border-radius: 5px;
}

.btn_p1 {
  font-size: 24px;
  line-height: 52px;
  font-weight: bold;
  margin: 0 0 5px 35px;
}

.note article .btn_p1 a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.note article .btn_p1 a:hover {
  /* 滑鼠移過 按鈕底色 */
  background-color: #ff5747;
}

/* 插入圖片 */
.photo_style {
  display: block;
  margin: 0 auto;
  width: 930px;
  padding: 1%;
  box-sizing: border-box;
}

@media screen and (max-width:480px) {
  .photo_style {
    display: none;
  }
}
/*-- note end --*/

li:hover {
  color: #f1b310;
}

li {
  transition: 0.2s ease-in;
}

@keyframes run {
  from {
    color: blue;
  }
  50% {
    color: aqua;
  }
  70%{
    color: aquamarine
  }
  to {
    color: blue;
  }
}

h2 {
  animation-name: run;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

